html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --page-gutter: 16px;
  --page-background: #fafafa;
}

.app {
  margin-top: calc(var(--page-gutter) * 2);
}

body {
  margin: 0;
  background-color: var(--page-background);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}
